.diagonal-drawer{
    width: 100%;
    height: 100vh;
    position: fixed;
    transform-origin: top right;
    transform: translate(-100%, -100%);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    z-index: 100;
}
.diagonal-drawer.open{
    transform: translate(0, 0);
}